*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
button{
    width: 80px;
    height: 60px;
    border: none;
}
.buttons{
    position:relative;
    left: 70%;
    top: 60%;
    z-index: 1;
}
.minmax{
    position:relative;
    z-index: 1;
}
body{
    height: 100vh;
    background-image: url(./image/forest-scene-with-various-forest-trees_1308-58896.avif);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
img{
    width: 17 0px;
    height: 170px;
    position: absolute;
    transition: transform 1s ease;
}
.img2{

    visibility: hidden;
}
.img3{
    visibility: hidden;
}

@media screen and (max-width:835px) {
    .buttons{
        position:absolute;
        left: 300px;
    }
}
@media screen and (max-width:555px) {
    .buttons{
        position:absolute;
        left: 100px;
    }
}